{% extends 'layout.html' %}

{% block body %}
<div class="col-md-5 offset-md-5">
  <div class="card card-body">
    <form action="/update/{{nomina.cedula}}" method="POST">
     
      <div class="form-group">
        <input type="text" name="cedula" disabled placeholder="cedula" value="{{ nomina.cedula}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="fullname" placeholder="Fullname" value="{{ nomina.fullname}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="sueldobas" placeholder="sueldoBase" value="{{ nomina.sueldobas}}" class="form-control">
      </div>

      <div class="form-group">
        <input type="text" name="bono" placeholder="bono" value="{{ nomina.bono}}" class="form-control">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">
          Save
        </button>
      </div>

    </form>
  </div>
</div>
{% endblock %}